body{
    margin: 0;
    padding: 0;
}

div{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}

main {
    display: grid;
    grid-template-areas:
        "head head head"
        "sid nave nave"
        "sid content content";
    grid-template-columns: 50px 3fr 3fr;
    grid-template-rows: auto 7vh auto;
    height: 100vh;
    background-color: green;
}

header{
    grid-area: head;
    border-bottom: 0.5px solid #A1ACB3;
} 

article {
    grid-area: content;
    background-color: white;
    border-left: 0.5px solid #A1ACB3;
    overflow-y: scroll;
    height: 100%;
}

article input:hover{
border: 0.5px solid black
}

aside{
    white-space: nowrap;
    width: 50px;
    height: auto;
    overflow: hidden;
    text-overflow: clip;
    grid-area: sid;
    background-color: #39856B;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: width 0.5s;
    position: relative;
}

aside:hover  {
    background: linear-gradient(90deg, #39856B, #335247);
    transition: width 0.5s;
    width: 150px;
}

.side-bar img{
    display: inline-block;
    margin-right: 8px;
}

.side-bar{
    margin: 60px 5px 5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 84vh;
}

.side-bar a{
    text-decoration-line: none;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}
.side-bar i{
    font-size: 30px;
    margin-right: 8px;
}

.side-bar a:hover, .side-bar a:focus{
    transition: 0.5s;
    color: #ABFFC4;
}

footer {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow:
        3.1em 0 0.1em black;
}

.nav-options{
    grid-area: nave;
    text-decoration-line: none;
    background: linear-gradient(90deg, #39856B, #335247);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.5px solid #A1ACB3;
}


.nav-options a{
    text-decoration-line: none;
    color: white;
}

.nav-options a:focus, .nav-options a:hover {
    transition: 0.5s;
color: #ABFFC4 !important;
}

.tabel{
    display: flex;
    flex-direction: row;
    height: auto;
padding: 10px;
}

.footer{
    display: flex;
    flex-direction: row;  
}

.a-side{
    margin-bottom: 10px;
}

.imput-text-id {
text-align: center;
 font-size: 10px;
 margin-bottom: 10px;
 padding-top: 15px;
 padding-bottom: 15px;
 background-color: white;
 border-radius: 5px;
 width: 50px;
 border: 0.5px solid #dcdde1;
 font-weight: bold;
/* ATENÇÃO COLOCAR O PLACEHOLDER NO TOPO TIKTOK */
}

.imput-text-nome {
text-align: center;
 font-size: 10px;
 margin-bottom: 10px;
 padding-top: 15px;
 padding-bottom: 15px;
 background-color: white;
 border-radius: 5px;
 width: 300px;
 border: 0.5px solid #dcdde1;
 font-weight: bold;
/* ATENÇÃO COLOCAR O PLACEHOLDER NO TOPO TIKTOK */
}

.visible {
visibility: visible !important;
}
.invisible {
visibility: hidden !important;
}

.form-group{
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
}
.app-form input{
    height: 45px;
    font-size: 14px;
    padding-left: 5px;
}

.app-form span{
    position: absolute;
    left: 5px;
    top: 12px;
    pointer-events: none;
    transition: 0.5s;
    opacity: .5;
}

.app-form input:focus ~span,
.app-form input:valid ~span{
    transform: translateY(-30px);
    font-size: 14px;
    opacity: 1;
}