{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<article>
    <div class="tabel">
        <form class="form-login">
            <label for="user"></label>
            <input type="text" id="id" placeholder="ID" name="id" class="txt_id">
            <label for="password"></label>
            <input type="text" id="name" placeholder="NOME" name="name" class="txt_nome">
            <input type="text" id="phone" placeholder="TELEFONE" name="phone" class="txt_phone">
            <!-- <input type="submit" value="Entrar" onclick="myFunction()"> -->
        </form>
    </div>
</article>
{% endblock %}