{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<article>
    <div class="tabel">
        <form class="app-form">
            <div class="form-group">
                <input autocomplete="off" type="text" id="id" placeholder="ID" name="id" class="imput-text-id" required>
                <span>ID</span>
            </div>
            <div class="form-group">
                <input autocomplete="off" type="text" id="produto" name="produto" class="imput-text-nome" required>
                <span>Produto</span>
            </div>
        </form>
    </div>
</article>
{% endblock %}