{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<article>
    <div class="tabel">
       <form class="">
            <label for="user"></label>
            <input type="text" id="id" placeholder="ID" name="id" class="imput-text-id">
            <label for="password"></label>
            <input type="text" id="password" placeholder="NOME" name="name" class="imput-text-nome">
            <!-- FORM NO PYTHON <input type="submit" value="Entrar"> -->
            
       </form>
       
    </div>
   </article>
{% endblock %}